{% extends 'base.html' %}
{% block content %}

<h1>My Wish List</h1>
<hr>

{% if items.count %}
<table>
    <thead>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td></td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td><a href="{% url 'items_delete' item.id %}">Delete</a></td>
        </tr> 
        {% endfor %}
        {% else %}
            <p>Currently No Items</p>
        {% endif %}
    </tbody>
</table>
{% endblock %}

